head {text-align: center;
color: blueviolet;}

main {background-color: steelblue;
padding: 10px;}

img {width: 800px;
border: 4px;}

p {padding: 10px;}

footer {background-color: whitesmoke;
color: black;}